/* Reset CSS */
/* Optionally, you can add more resets or customizations here */
/* Example: Resetting margins and paddings for specific elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Box sizing border-box for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box sizing ends here */
/* root colors  */
:root {
  --Blue: #459aa5;
  --aqua-deep: #104447;
  --eggshell: #F0EADD;
}

/* colors ends here */
/* style for all h tags  */
h1 {
  font-size: 1.87rem;
  color: var(--eggshell);
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Inter', sans-serif;
}

/* style for h tags ends here */

a {
  text-decoration: none;
  color: var(--eggshell);
}

/* skip link styles starts from here */
.skip-link {
  position: absolute;
  top: -40px;
  /* i use -40px to hide the skiplink */
  left: 0;
  background-color: var(--eggshell);
  color: var(--aqua-deep);
  padding: 5px;
  text-align: center;
  z-index: 3;
  /* To insure that skip link show above other content */
  transition: top 0.3s;
  /* transition effect */
}

/* add Style for the skip link when focused */
.skip-link:focus {
  top: 0;
  /* make it visible again*/
}

/* skip link styles ends from here */

/* navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--Blue);
}

.navbar-brand h1 {
  font-size: 32px;
}

.nav-item a {
  font-size: 1.3rem;
  margin-left: 2em;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 3.75rem;
  padding-bottom: 0.6rem;
}

.nav-links a {
  font-size: large;
  text-decoration: none;
  color: var(--eggshell);
  font-weight: bold;
}

/* navigation styles ends here */

/* main start from here */
/* i use min-height 100vh in body and flex 1in main and margin top in footer to make sure that footer stay at the bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* style for background info */
.background-info h2 {
  font-size: 24px;
  font-weight: normal;
}

.meet-the-team h2 {
  font-size: 24px;
  font-weight: normal;
}

.background-info p {
  margin-top: 0.9rem;
}

.profile-pic {
  width: 350px;
  height: auto;
}

.profile-pic img {
  border: 2px solid #459aa5;
  padding: 0.2em;
  border-radius: 8px;
  width: 88%;

}

.person-info {
  object-fit: contain;
}

/* flex box starts here */
.meet-the-team {
  display: flex;
  flex-direction: row;
}

/*style for description list starts here */
dl {
  border: 2px solid var(--Blue);
  padding: 20px;
  border-radius: 8px;
  background-color: var(--eggshell);
}

dt {
  font-weight: bold;
  color: var(--aqua-deep);
}

dd {
  margin-inline-start: 0.5px;
  margin-block-end: 0.5px;
}

/* footer starts here */
footer {
  margin-top: auto;
}

.copyright {
  background-color: var(--Blue);
}

.copyright p {
  margin-left: 1.87rem;
  color: var(--eggshell);
}

/* media query for 1200px*/

@media screen and (max-width: 1200px) {

  .meet-the-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .profile-pic {
    width: 350px;
    height: 325px;
  }

  .profile-pic img {
    border-radius: 8px;
    width: 84%;

  }

  /* description list style for small screen */
  dl {
    border: 2px solid var(--Blue);
    padding: 0.8em;
    border-radius: 0.5em;
    background-color: var(--eggshell);
  }

  dd {
    margin-inline-start: 0.5px;
    margin-block-end: 0.5px;
  }

  footer {
    margin-top: auto;
  }

}

/* media query for 836px */
@media screen and (max-width: 836px) {
  .wrapper {
    text-align: center;
  }

  .meet-the-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-pic {
    width: 250px;
    height: auto;
  }

  .profile-pic img {
    border-radius: 8px;
    width: 95%;
  }


  .person-info {
    width: 250px;
    height: auto;
  }

  /* description list style for small screen */
  dl {
    border: 2px solid var(--Blue);
    padding: 0.8em;
    border-radius: 0.5em;
    background-color: var(--eggshell);
  }

  dd {
    margin-inline-start: 0.5px;
    margin-block-end: 0.5px;
  }

  footer {
    margin-top: auto;
  }
}