/* Reset CSS */
/* Optionally, you can add more resets or customizations here */
/* Example: Resetting margins and paddings for specific elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Box sizing border-box for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box sizing ends here */

/* root colors */
:root {
  --Blue: #459aa5;
  --aqua-deep: #104447;
  --eggshell: #F0EADD;
}

/* colors ends here */

/* css for skip links start's from here */
.skip-link {
  position: absolute;
  top: -40px;
  /* i use -40px to hide the skiplink */
  left: 0;
  background-color: var(--eggshell);
  color: var(--aqua-deep);
  padding: 5px;
  text-align: center;
  z-index: 3;
  /* To insure that skip link show above other content */
  transition: top 0.3s;
  /* transition effect */
}

/* add Style for the skip link when focused */
.skip-link:focus {
  top: 0;
  /* make it visible again*/
}

/* style for all h1 tags */
h1 {
  font-size: 1.87rem;
  color: var(--eggshell);
  font-family: 'Inter', sans-serif;
}

/* style for all h3 tags */
h3 {
  font-size: 20.8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--eggshell);
}

/* header styles starts from here */
/* nav bar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--Blue);
}

.navbar-brand h1 {
  font-size: 32px;
}

.nav-item a {
  font-size: 1.3em;
  margin-left: 2em;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 3.75rem;
  padding-bottom: 0.6rem;
}

.nav-links a {
  font-size: large;
  text-decoration: none;
  color: var(--eggshell);
  font-weight: bold;
}


/* main start here */
.web-project h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  /* font-family: 'Inter', sans-serif; */
  margin-top: 1.87rem;
  margin-bottom: 1.87rem;
}

/* portfolio piece style */
.super-cell img {
  width: 100%;
}

/* portfolio piece style */
.aroma-bakery img {
  width: 100%;
}

.scroll h4 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

/* styles for portfolio section  */
.portfolio h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 1.87rem;
  margin-bottom: 1.87rem;
}

/* portfolio piece style */
.lone-starfish {
  width: 100%;
}

/* portfolio piece style */
.star-media {
  width: 100%;
}

/* main srtyles ends here */

/* footer starts here */
.copyright {
  background-color: var(--Blue);
}

.copyright p {
  margin-left: 1.87rem;
  color: var(--eggshell);
}

/* footer styles ends here */